ion-img {
  width: 15%;
  height: 15%;
  margin-right: 15px;
}

ion-button {
  align-items: left;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-content {
  margin: 5px;
  font-family: "LeagueSpartan", serif !important;
}

h1 {
  margin-top: 35px;
  font-size: 185%;
  font-weight: 700;
  text-align: center;
}
