<app-tibo-header />

<ion-content [fullscreen]="true">
  <h1>Nos bateaux partenaires</h1>

  <ion-list lines="none">
    <app-custom-button titre="De la Brise" urlimg="assets/images/deLaBrise_icon.png" (click)="goToPageBateauParti()"></app-custom-button>
    <app-custom-button titre="Gast Micher" urlimg="assets/images/gastMicher_icon.png"></app-custom-button>

    <app-custom-button titre="Saphir" urlimg="assets/images/saphir_icon.png"></app-custom-button>

    <app-custom-button titre="Aquilon" urlimg="assets/images/aquilon_icon.png"></app-custom-button>
  </ion-list>
</ion-content>
