div {
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-img {
    justify-self: center;
    width: 50px;
    height: 50px;
}
ion-button {
    background-color: transparent;
}