ion-item {
  --inner-padding-end: 0;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-weight: 600;

}
.item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  height: 20%;
  width: 20%;
}

ion-img {
  --height: 10px;
  --width: 10px;
  object-fit: contain;
}

.item-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
  padding-bottom: 10px;
}

.item-name-qte-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-prix {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

ion-content {
  --padding-start: 25px;
  --padding-end: 25px;
  --ion-font-family: "LeagueSpartan";
}

.footer-panier {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-weight: 600;
}

.date-heure {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin-top: 35px;
  font-size: 250%;
  font-weight: 700;

}

.modal-livraison {
  --height: auto;
  --max-height: 150%;
  --border-radius: 16px;
  --backdrop-opacity: 0.4;
  align-items: end;
  ion-button {
    --background: transparent;
  }
}

