<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-modal #modal (didDismiss)="onDidDismiss($event)" class="modal-livraison">
    <ng-template>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss(null, 'cancel')">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss(lieuChoisi, 'confirm')">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-picker>
        <ion-picker-column [value]="lieuChoisi" (ionChange)="onIonChange($event)">
          <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>

          @for(lieu of lieuxLivraison ; track lieu) {
            <ion-picker-column-option [value]="lieu">{{lieu}}</ion-picker-column-option>
          }
        </ion-picker-column>
      </ion-picker>
    </ng-template>
  </ion-modal>

  <h1 >Panier</h1>



    @if (panierList.length === 0) {
      <ion-text>Votre panier est vide.</ion-text>
    }

    @if (panierList.length > 0) {
      <ion-list>

      @for (item of panierList; track item.produit.id; let i = $index) {

        <ion-item>
          <div class="item-wrapper">
            <div class="item-name-qte-img">
              <img src="../assets/images/barRecette_icon.png" alt=""/>
              <ion-text>
                {{ item.produit.name }}
              </ion-text>
              <ion-text>
                Qté : {{ item.qte }}
              </ion-text>
            </div>
            <div class="item-prix">
              @if(item.produit.discount > 0){
                {{item.qte}}x{{item.produit.discount}}€ : {{item.qte*item.produit.discount}}€
              } @else {
                {{item.qte}}x{{item.produit.price}}€ : {{item.qte*item.produit.price}}€
              }
            </div>

            <div class="item-btns">
              <ion-text color="danger" (click)="openDeleteAlert(i, item)">
                Supprimer
              </ion-text>
              <ion-text (click)="openModifPicker(item)">Modifier</ion-text>
            </div>
          </div>
        </ion-item>
      }
      </ion-list>
      <div class="footer-panier">
        <ion-text>Total : {{somme}}€ </ion-text>

        <div class="lieu-livraison">
          <ion-text>Lieu de livraison : {{lieuChoisi}}</ion-text>
          <ion-button (click)="modal.present()">Choisir</ion-button>
        </div>

        <div class="date-heure">
          <ion-text>Date de livraison : </ion-text>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>


        <ion-button expand="block" (click)="checkLivraison()">
          <ion-label>Valider la commande</ion-label>
        </ion-button>
      </div>

    }


</ion-content>
