.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 250px;
    height: 250px;
}

ion-input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background : white;
    border-radius: 20px;
    --padding-start:16px;
}

.identifiant {
    margin-top: 50px;
    margin-bottom: 20px;
}

.has-focus{
    border-width: 0px !important;
    --highlight-height: 0px !important;
    border-color: transparent !important;
}

.connect-button {
    width: 80%;
    margin-top: 50px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    justify-self: center;
    display: block;
}

.Inscription-button{
    background-color: transparent !important;
    text-align: center !important;
    padding-top: 20px;
    color: #323232;
}

h2{
    text-align: center;
}