ion-item{
    margin-top: 50px;
}

h1{
    margin-top: 100px;
}

.bateau-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

ion-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}