:host {
  text-align: center;
}

.contact {
  padding: 5% 20%;
  padding-bottom: 50px;
}

ion-icon {
  margin: 15px;
  width: 30px;
  height: 30px;
}

ion-button {
  margin: 0 10px;
}

.logo {
padding: 5% 20%;
width: 85%;
justify-self: center;
}