<app-tibo-header />

<ion-content [fullscreen]="true">
<ion-img src="../../assets/logos/bato_tibo_logo_bleu.png" class="logo"></ion-img> 

  <h5><b>Contactez nous !</b></h5>

  <ion-img src="../../assets/images/TIG@3x.png" class = "contact"></ion-img>



  <ion-button shape="round">
    <ion-icon slot="icon-only" name="call-outline"></ion-icon>
  </ion-button>

  <ion-button shape="round">
    <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
  </ion-button>

  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
  </ion-button>

  <ion-button routerLink="/login">
    Aller à la page de login
  </ion-button>

</ion-content>