<ion-content [fullscreen]="true">
  <h1>Nos restaurants partenaires</h1>


  <ion-list lines="none">
    <ion-list lines="none">
      <app-custom-button titre="Bistrot des Gascons"
        urlimg="../../assets/images/desGascons_icon.png"(click)="goToPageRestaurantParti('Bistrot des Gascons')"></app-custom-button>

      <app-custom-button titre="Les fous de l'île" urlimg="../../assets/images/fousDeLIle_icon.png" (click)="goToPageRestaurantParti('Les fous de l\'île')"></app-custom-button>

      <app-custom-button titre="Bistrot Landais"
        urlimg="../../assets/images/bistrotLandais_icon.png" (click)="goToPageRestaurantParti('Bistrot Landais')"></app-custom-button>

      <app-custom-button titre="Villa 9-Trois" urlimg="../../assets/images/villa9Trois_icon.png" (click)="goToPageRestaurantParti('Villa 9-Trois')"></app-custom-button>

      <app-custom-button titre="Bistrot du sommelier" urlimg="../../assets/images/duSommelier_icon.png" (click)="goToPageRestaurantParti('Bistrot du sommelier')"></app-custom-button>

    </ion-list>
  </ion-list>


</ion-content>