<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nos recettes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h1>Nos restaurants partenaires</h1>


  <ion-list lines="none">
    <ion-item>
      <ion-button shape="round" size="large">
        <ion-icon slot="start" src="../../assets/images/barRecette@2x.png"></ion-icon>

        Pokémon Yellow</ion-button>
    </ion-item>
    <ion-item>

      <ion-button shape="round" size="large">
        <ion-icon slot="start" src="../../assets/images/barRecette@2x.png"></ion-icon>
        Pokémon Yellow</ion-button>
    </ion-item>
    <ion-item>
      <ion-button shape="round" size="large">
        <ion-icon slot="start" src="../../assets/images/barRecette@2x.png"></ion-icon>
        Pokémon Yellow</ion-button>
    </ion-item>
    <ion-item>
      <ion-button shape="round" size="large">
        <ion-icon slot="start" src="../../assets/images/barRecette@3x.png"></ion-icon>
        Pokémon Yellow
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button shape="round" size="large">
        <ion-icon slot="start" src="../../assets/images/barRecette@3x.png"></ion-icon>
        Pokémon Yellow
      </ion-button>
    </ion-item>
  </ion-list>


</ion-content>
