<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="onLoadCart()">
      <ion-icon src="../../assets/svgs/cart-fill-frame.svg"></ion-icon>
    </ion-button>

    <ion-title>
      <ion-icon src="../../assets/logos/bato_tibo_bleu_vague.svg"></ion-icon>
    </ion-title>

    <ion-button slot="end" fill="clear">
      <ion-icon slot="start" src="../../assets/svgs/logout.svg"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/logos/bato_tibo_logo_bleu.png">
  </ion-img>
  <ion-text>
    <p>Vente en direct de notre bateau<br>Produits selon la saison. Livraison sur Paris
    <br><br>06.93.99.99.78
      <br>batotibo&#64;gmail.com
      <br>www.facebook/batotibo</p>
  </ion-text>
</ion-content>
