ion-img {
  --width: 45%;
  --height: 45%;
  object-fit: contain;
  justify-self: center;
}

ion-content {
  display: flex;
  font-family: 'LeagueSpartan', sans-serif;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

ion-img,
.ion-text {
  align-items: center;
  text-align: center;
  justify-items: center;
}