<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nos recettes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Nos recettes</h1>


  <ion-list lines="none">
    <app-custom-button titre="Homard" urlimg="../../assets/images/homardRecette_icon.png"></app-custom-button>

    <app-custom-button titre="Saint-Jacques" urlimg="../../assets/images/saintJacques_icon.png"></app-custom-button>

    <app-custom-button titre="Bar" urlimg="../../assets/images/barRecette_icon.png"></app-custom-button>

    <app-custom-button titre="Tourteau" urlimg="../../assets/images/tourteau.png"></app-custom-button>
  </ion-list>


</ion-content>