ion-img {
    width: 17%;
    height: 17%;
    margin-right: 15px;
    margin-left: -15px;
}

ion-button {
    width: 100%;
    --padding-top: 5px;
    --padding-bottom: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: flex-start;
}