ion-img {
    width: 17%;
    height: 17%;
    margin-left: 15px;
}

div {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #93BFC7;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 99px;
}

h3 {
    color: white;
    margin-left: 15px;
}