<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>liste-produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>

      <ion-title size="medium">Choisissez vos produits </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @for(produit of listeProduits; track produit.name) {
      <ion-badge class="notif-badge">{{produit.price}}€</ion-badge>
      <ion-button shape="round" id="open-modal" (click)="addProduit(produit)" size="large" expand="block">
        <ion-label slot="start">{{produit.name}}</ion-label>
      </ion-button>

    }

  </ion-list>



</ion-content>
