ion-list {
  --margin-top: 10px
}

ion-badge {
  --background: #CBF3BB;
  --color: #323232;
  --border-radius: 30px !important;
  --margin-start: 16px;
  --margin-top: -10px !important;
}

.notif-badge {
  position: absolute;
  margin-top: 8px;
  margin-right: 20px;
  transform: translate(0, 0);
  right: 0;
  --background: #CBF3BB;
  --color: #323232;
  font-size: 0.9rem;
  padding: 4px 6px;
  border-radius: 100px;
  z-index: 10;
  height: 35px;
  width: 35px;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.barre {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}
.discount {
  position: absolute;
  margin-top: 63px;
  margin-right: 20px;
  transform: translate(0, 0);
  right: 0;
  --background: #CBF3BB;
  --color: #323232;
  font-size: 0.9rem;
  padding: 4px 6px;
  border-radius: 100px;
  z-index: 10;
  height: 35px;
  width: 35px;
  align-items: center;
  flex-direction: row;
  align-content: center;
}


ion-content {
  margin: 5px;
  font-family: "LeagueSpartan", serif !important;
}


h1 {
  margin-top: 35px;
  font-size: 150%;
  font-weight: 700;

}
