ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
}

.categorie {
  --ion-font-family: 'LeagueSpartan';
  --padding-top: 10%;
  --padding-bottom: 10%;

  width: 95%;
  justify-content: flex-start;
  text-align: left;

  ion-icon {
    margin-left: -180px;
    width: 56px;
    height: 56px;
    color: #0d0d0d;
  }

}

ion-toolbar {
  --background: rgba(168, 138, 138, 0);

  ion-button {
    --background: rgba(168, 138, 138, 0);
  }
}

